@import url('https://fonts.google.com/specimen/Playfair+Display');

body {
  background-color: #fff;
  font-family: "Playfair Display", serif;
}

.container {
  width: 960px;
  margin: 0 auto;
}

header {
  text-align: left;
  background-color: palegoldenrod;
  color: #fff;
  padding: 30px 40px;
}

h1 {
  text-transform: uppercase;
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

aside img {
  width: 180px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 999px;
  border: 6px solid goldenrod;

  #nav-menu li a {
    color: blue; 
  }

  .menu-items li a {
    color: red;
    font-weight: bold;
    text-decoration: none;
  }

  p { 
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 10px solid green
  }

}