@import url('https://fonts.google.com/specimen/Playfair+Display');

body {
  font-family: "Playfair Display", serif;
  box-sizing: border-box;
}

* {
  background-color: #fff; 
}

.container {
  display: grid;
  grid-gap: 1.5em;
  grid-template-columns: repeat(12, 1fr);
  width: 960px;
  margin: 0 auto;
}

.container > * {
  grid-column: span 12;
}

@media screen and (min-width: 40em) {
  .col-span-8 {
    grid-column: span 8;
  }
  .col-span-4 {
    grid-column: span 4;
  }
}


header {
  text-align: left;
  background-color: palegoldenrod;
  color: #fff;
  padding: 30px 40px;
}

h1 {
  text-transform: uppercase;
  font-size: clamp(32px 2vw, 48px)
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

aside img {
  width: 180px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 999px;
  border: 6px solid goldenrod;

  #LAYOUT**********

  #nav-menu li a {
    color: blue; 
  }

  .menu-items li a {
    color: red;
    font-weight: bold;
    text-decoration: none;
  }

  p { 
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 10px solid green
  }

}