@import url('https://fonts.google.com/specimen/Playfair+Display');

* {
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}
body {
  margin: 0;
  background-image: url("../images/bg.png");
}

header {
  text-align: left;
  background-color: rgb(202, 183, 91);
  padding: 2rem;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}

img {
  width: 100%;
}

img.circle {
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 999px;
  border: 6px solid goldenrod;
}
.circle {
  border-radius: 50%;
  border: 5px solid goldenrod
}

a:link, a:visited {
  color: #5480cd;
  text-decoration: none;
}
a:hover {
  color: #0542ab;
  text-decoration: underline;
}

#toggle-button {
  margin-left: auto;
}

#nav-menu ul.active + #toggle-button {
  position; absolute
  top: 8px;
  right: 12px;

}

/****LAYOUT*****/
.container {
  background-color: white;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;
  width: min(95%, 75 rem);
}

/* card style*/
.card {
  background-color: #ffffff;
  text-align: center;
  margin: 1rem;
  padding-bottom: 2rem;
  box-shadow: 0 0 24px - 8px rgb(0, 0, 0.5);
  border-radius: 18px
  
.card-text {
  padding: 0 2rem;
}
}

.container > * {
  grid-template-columns: repeat(12, 1fr);
}

/****** Navigation ******/

#nav-menu li a {
  color: palegoldenrod;
}



.menu-items li a {
  color: peru;
  font-weight: bold;
  text-decoration: none;
}

/* Desktop Layout */
@media screen and (min-width: 40em) {
  .col-span-8 {
    grid-column: span 8;
  }
  .col-span-4 {
    grid-column: span 4;
  }
}

.work-section {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.card {
  flex: 0 1 254px;
}

<div class="card">
<img class=src="images/annav.jpg" alt="Photo of Anna Van Brocklin">
<h3>Card Title</h3>
<p>Description Here</p>
</div>

/***** Navigation Using Flexbox *******/
nav {
  background-color: #525252;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
}
nav ul {
    margin:0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
}
nav li {
      margin: 0 0.5rem;
}
nav a: link, nav a:visited {
      color: #white;
      text-decoration: none;
      font-size: 1.125rem;
      padding: 1rem;
      display: block
      transition: ease-in-out 250ms;
}
nav a:hover {
      background-color: rgb(255, 119, 119);
      color: white;
}

/***** Components *******/
.button:link, .button:visited {
    color: white;
    background-color: #285ab0
    text-align: center
    text-decoration: none
    padding: 1rem 1.75rem;
    border-radius: .5rem;
    box-shadow 0 .125rem .5rem rgba (0, 0, 0, .15);
    display: inline-block;
    margin: 0 .25rem .25rem 0;
    transition: background-color 0.5s ease;
}
.button:hover {
  background-color: #ab7105;
}